<!-- <div class="container"> -->
    <div class="row">
        <div class="col-md-12">
            <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
                <!-- slides -->
                <div class="carousel-inner">
                    <div class="carousel-item active"> <img src="https://compote.slate.com/images/cc7829e8-36da-4015-9d8c-154240566980.jpg" alt="Hills"> </div>
                    <div class="carousel-item"> <img src="https://flyawaysimulation.com/images/downloadshots/3017-sw-xwingzip-81-thumbnail.jpg" alt="Hills"> </div>
                    <div class="carousel-item"> <img src="https://www.sideshow.com/storage/product-images/903314/x-wing-starfighter_star-wars_feature.jpg" alt="Hills"> </div>
                    <!-- <div class="carousel-item"> <img src="https://i.imgur.com/JiQ9Ppv.jpg" alt="Hills"> </div> -->
                </div>
                <!-- Left right -->
                <a class="carousel-control-prev" href="#custCarousel" data-slide="prev"> <span class="carousel-control-prev-icon"></span> </a> <a class="carousel-control-next" href="#custCarousel" data-slide="next"> <span class="carousel-control-next-icon"></span> </a>
                <!-- Thumbnails -->
                <ol class="carousel-indicators list-inline">
                    <li class="list-inline-item active"> <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#custCarousel"> <img src="https://compote.slate.com/images/cc7829e8-36da-4015-9d8c-154240566980.jpg" class="img-fluid"> </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-1" data-slide-to="1" data-target="#custCarousel"> <img src="https://flyawaysimulation.com/images/downloadshots/3017-sw-xwingzip-81-thumbnail.jpg" class="img-fluid"> </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="2" data-target="#custCarousel"> <img src="https://www.sideshow.com/storage/product-images/903314/x-wing-starfighter_star-wars_feature.jpg" class="img-fluid"> </a> </li>
                    <!-- <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="3" data-target="#custCarousel"> <img src="https://i.imgur.com/JiQ9Ppv.jpg" class="img-fluid"> </a> </li> -->
                </ol>
            </div>
        </div>
    </div>
<!-- </div> -->
