<!-- <div id='map' style='width: 40%; height: 300px;'></div>
<script>
  mapboxgl.accessToken = ENV['mapbox_api_key']
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11'
  });
</script> -->
