<div id='map' style='width: 40%; height: 300px;'></div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibXJvc2VzMzMiLCJhIjoiY2tndzk0bTI1MDVyMjJxcWNxeWZtZWdsOSJ9.HxcM2esbBpo46nPzdTE76Q';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11'
  });
</script>
