// Define variables for your color scheme
$pink: #e63946;
$transparent-pink: rgba(230,57,70,.6);

// / For example:
// $red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
// $gray: #0E0000;
$light-gray: #F4F4F4;

 /* #project */
$red: #FF1053;
$dark-blue: #6C6EA0;
$light-blue: #66C7F4;
$gray: #C1CAD6;
$white: #FFFFFF;


