.carousel {
  color: $dark-gray
}

.icons i {
  color: $dark-blue;
  font-size: 20px;
}

.icons p {
  padding-right: 25px;
}
.carousel h3 {
  color: $dark-blue
}

.button {
  text-decoration: none;
  color: $dark-gray
}

h3 {
  padding-top: 15px;
}


// #show-page {
//   margin-top: 20px;
//   color: white;
//   font-family: 'Squada One', "cursive";
//   background: #197278;
//   border-radius: 5px;
//   margin-bottom: 20px;
// }

// #show-name {
//   font-family: 'Squada One', "cursive";
//   color: #e63946;
//   background-color: #f4f3ee;
//   padding: 10px;
//   border-radius: 5px;
// }

// #show-image {
//   border-radius: 5px;
//   max-width:100%;
//   max-height:100%;
// }

// .button:hover {
//   text-decoration: none;
//   background-color: #e63946;
//   color: black;
//   border-color: #e63946;
// }

// .button {
//   padding: 10px;
//   border-radius: 4px;
//   background-color: #e63946;
//   color: white;
//   border-color: #e63946;
//   margin-top: 10px;
// }
