.user-page {
  margin: 30px;
  color: #e63946;
  font-family: 'Squada One', "cursive";
  // border: solid gray 1px;
  border-radius: 10px;
  background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.user-page h1 {
    font-family: 'Squada One', "cursive";
}

.user-page-body {
  margin: 20px;
}


