.user-page {
  margin: 70px;
  color: #e63946;
  font-family: 'Squada One', "cursive";
  border: solid gray 1px;
  border-radius: 10px;
  background-color: white;
}

.user-page h1 {
    font-family: 'Squada One', "cursive";
}

.user-page-body {
  margin: 20px;
}


