<div class ="user-page">
  <div class="user-page-body">
    <h1>Welcome <italic> <%= @user.email %><italic></h1>
    <br>
    <p> Your planes: </p>
    <%= render "cardsx" %>
    <br>
    <p> Your bookings: </p>
    <%= render "bookingscard" %>
  </div>
</div>
