<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1517479149777-5f3b1511d5ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);">
  <div class="container d-flex">
    <h1>Come fly with us!</h1>
    <div class="button-container">
      <%= form_tag planes_path, :method => "get" do %>
        <%= text_field_tag :search, params[:search] %>
        <div class="search"></div>
      <% end %>
    </div>
  </div>
</div>
