<%= render "shared/banner" %>
<br>
  <div class="container text-center">
    <h2> Need a plane fast? Planes-R-Us have you covered. </h2>
    <h4> OUR TOP PICKS: </h4>
  </div>
<%= render "bestpickcards" %>
<br>



<!-- <div id="carousel-div">
  <h2> Need a plane fast? Planes-R-Us have you covered. </h2>
  <p> Our top picks: </p>
  <%= render "shared/carouselb" %>
</div>
 -->
