.booking-form {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-right: 150px;
  padding: 15px 0;
  position: fixed;
  top: 95px;
  right: 15px;
  width: 275px;
  border-radius: 5px;
  background-color: $light-gray;
  color: $dark-blue;
  height: 290px;
}

.show-page {
  height: 100vh;
}

#form-button {
  text-align: center;
}
