.booking-form {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 5px;
  padding: 5px 0;
  width: 275px;
  border-radius: 5px;
  background-color: $light-gray;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  color: $dark-blue
}

#form-button {
  text-align: center;
}
