#carouselb-inner img {
  border-radius: 5px;
  height: 200px;
}


#carouselExampleCaptions {
  padding: 20px;
  margin-left: 150px;
  margin-right: 150px;
}

#carousel-id {
  display: flex;
  justify-content: center;
}

.carousellink a {
  text-decoration: none;
  font-family: 'Squada One', "cursive";
  color: white;
}

.carousellink a:hover {
  text-decoration: none;
  color: #e63946;
}

#carousel-div {
  text-align: center;
  font-family: 'Squada One', "cursive";
  color: #e63946;
  font-size: 30px;
}

#carousel-div h2 {
  text-align: center;
  font-family: 'Squada One', "cursive";
  color: #e63946;
  font-size: 20px;
}
