.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: black;
}

.cards-list a {
  text-decoration: none;
  color: black;
  transition: 0.8s;
}

.cards-list > a:hover {
  opacity: 0.5;

}

.cards-list .opacity-hover:hover {
  opacity: 0.5;

}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 5px;
  width: 275px;
  border-radius: 5px;
  transition: 0.5s;

  // height: 200px;
}

.card-trip:hover {
  opacity: 0.7;
}

.card-image > img {
  height: 160px;
  width: 275px;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos a:hover {
  color: black;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}



.green-paid {
  color: #008000;
}

#already_booked {
  background-color: #b7e4c7;
  opacity: 0.8;
}

#owned_planes_cards {
  background-color: #dbe9ee;
}

// #owned_planes_cards a:hover {
//   opacity: 0.8;
// }
