.navbar-lewagon {
  // justify-content: space-between;
  background: $light-gray;
  display: flex;
  font-family: $headers-font;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);


}

.navbar a {
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: none;
  color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  margin: -35px 0;
}

.nav-item a {
  display: flex;
  justify-content: space-around;
  color: $dark-blue;
  font-weight: lighter;
}

#link-home-a a {
  text-decoration: none;
}

#nav-item-log {
  margin-left: 400px;
  color: #e63946;
}


#navbarSupportedContent {
  margin-left: auto;
}
