
.btn-primary {
  background-color: $red;
  border-color: $red;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

@media (min-width: 576px) {
  .form-inline .form-control {
      display: inline-block;
      width: 290px;
      vertical-align: middle;
      border: 1px $red solid;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  }
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: $darker-pink;
    border-color: $darker-pink; /*set the color you want here*/
}
