
.btn-primary {
  background-color: $pink;
  border-color: $pink;
  box-shadow: 0 0 15px $transparent-pink;
}

@media (min-width: 576px) {
  .form-inline .form-control {
      display: inline-block;
      width: 320px;
      vertical-align: middle;
      border: 1px $pink solid;
      box-shadow: 0 0 15px $transparent-pink;
  }
}
